.gitignore
*~
.emacs.d/bookmarks
.emacs.d/ido.last
.emacs.d/org-clock-save.el
.emacs.d/.org-id-locations
.emacs.d/recentf
.vim/.netrwhist
*.pyc
.tmux/resurrect
.vim/bundle
.vim/spell/en.utf-8.add.spl
.vim/undo
