[submodule ".emacs.d/evil"]
	path = .emacs.d/evil
	url = git://gitorious.org/evil/evil.git
[submodule ".emacs.d/org-mode"]
	path = .emacs.d/org-mode
	url = git://orgmode.org/org-mode.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/clang_complete"]
	path = .vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/file-line"]
	path = .vim/bundle/file-line
	url = https://github.com/bogado/file-line.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
