[submodule ".emacs.d/evil"]
	path = .emacs.d/evil
    url = https://github.com/emacs-evil/evil.git
[submodule ".emacs.d/org-mode"]
	path = .emacs.d/org-mode
	url = https://code.orgmode.org/bzr/org-mode.git
[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".emacs.d/emacs-langtool"]
	path = .emacs.d/emacs-langtool
	url = https://github.com/mhayashi1120/emacs-langtool
