[submodule ".emacs.d/evil"]
	path = .emacs.d/evil
    url = hg::https://bitbucket.org/lyro/evil
[submodule ".emacs.d/org-mode"]
	path = .emacs.d/org-mode
	url = git://orgmode.org/org-mode.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/clang_complete"]
	path = .vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/file-line"]
	path = .vim/bundle/file-line
	url = https://github.com/bogado/file-line.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/linediff"]
	path = .vim/bundle/linediff
	url = git://github.com/AndrewRadev/linediff.vim.git
[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = git://github.com/tmux-plugins/tmux-resurrect
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = git://github.com/tmux-plugins/tmux-sensible
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git://github.com/tmux-plugins/tpm
[submodule ".emacs.d/emacs-langtool"]
	path = .emacs.d/emacs-langtool
	url = https://github.com/mhayashi1120/emacs-langtool
