! common settings for everybody
*background:            Black
*foreground:            #c0c0c0
*cursorColor:           Yellow
*font:                  -*-terminus-medium-*-*-*-20-*-*-*-*-*-iso10646-1

!set exact values to colors so they are the same for all terminals
!blue
*color4:                #5454ff
*color12:               #5454ff

XTerm*wideFont:         -*-terminus-medium-*-*-*-20-*-*-*-*-*-iso10646-1
XTerm*renderFont:       false
XTerm*maxBufSize:       1048576
XTerm*translations:     #override \
	Meta<Key>c:	        string("©") \
	Meta<Key>L:	        string("£")

!nasty hacks for urxvt to act like xterm
!this is only a subset, see more here:
!http://www.netswarm.net/misc/urxvt-xtermcompat.txt
URxvt*termName:         xterm-256color
URxvt.scrollBar:        false
URxvt*keysym.S-Up:      \033[1;2A
URxvt*keysym.S-Down:    \033[1;2B
URxvt*keysym.S-Right:   \033[1;2C
URxvt*keysym.S-Left:    \033[1;2D
URxvt*keysym.S-Delete:  \033[3;2~
URxvt*keysym.S-Home:    \033[1;2H
URxvt*keysym.S-End:     \033[1;2F
URxvt*keysym.Home:      \033OH
URxvt*keysym.End:       \033OF
URxvt*keysym.S-F1:      \033[1;2P
URxvt*keysym.S-F2:      \033[1;2Q
URxvt*keysym.S-F3:      \033[1;2R
URxvt*keysym.S-F4:      \033[1;2S
URxvt*keysym.S-F5:      \033[15;2~
URxvt*keysym.S-F6:      \033[17;2~
URxvt*keysym.S-F7:      \033[18;2~
URxvt*keysym.S-F8:      \033[19;2~
URxvt*keysym.S-F9:      \033[20;2~
URxvt*keysym.S-F10:     \033[21;2~
URxvt*keysym.S-F11:     \033[23;2~
URxvt*keysym.S-F12:     \033[24;2~

XLock.mode:             pipes
XLock.erasedelay:       400
XLock.pipes.delay:      20000
XLock.username:
XLock.password:
XLock.info:
XLock.description:      False
XLock.planfont:         -*-terminus-medium-*-*-*-20-*-*-*-*-*-*-*
XLock.fontset:          -*-terminus-medium-*-*-*-20-*-*-*-*-*-*-*
XLock.planfontset:      -*-terminus-medium-*-*-*-14-*-*-*-*-*-*-*
XLock.messagefont:      -*-terminus-medium-*-*-*-20-*-*-*-*-*-*-*

Xft.antialias:          1
Xft.hinting:            1
Xft.hintstyle:          hintfull
Xft.rgba:               rgb
Xft.dpi:                96

Fig.latexfonts:         true
Fig.specialtext:        true
